@use '../constants/fonts.scss' as fonts;
@use '../constants/breakpoints.scss' as bp;
@use '../constants/colors.scss' as colors;

.header {
  background-color: colors.$dark-green;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  position: relative;
  z-index: 10;
  width: min(98%, 120rem);
  margin: 0 auto;

  @media (min-width: bp.$large) {
    flex-direction: row;
  }
}

.navbar__links-container {
  width: min(95%, 80rem);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 2rem;

  @media (min-width: bp.$large) {
    margin-top: 0;
    margin-bottom: 1rem;
    justify-content: end;
    gap: 5rem;
  }
}

.navbar__links {
  ul {
    display: flex;
    column-gap: 2rem;

    @media (min-width: bp.$base) {
      column-gap: 4rem;
    }

    li {
      a {
        color: white;
        font-family: fonts.$secondary;
        font-size: 1.8rem;

        @media (min-width: bp.$base) {
          font-size: 2.2rem;
        }
      }
    }
  }
}

.navbar__social-media {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    column-gap: 1rem;
    align-items: center;

    li {
      a {
        height: 1.4rem;
        display: block;
        img {
          width: 1.4rem;
          height: auto;

          @media (min-width: bp.$base) {
            width: 2rem;
          }
        }
      }
    }
  }
}
