@use '../constants/colors.scss' as colors;
@use '../constants/fonts.scss' as fonts;
@use '../constants/breakpoints.scss' as bp;

.our-history {
  position: relative;
  margin-top: 8rem;
  background-position: center;
  background-size: cover;
  padding: 8rem 0 15rem;
  margin-bottom: 20rem;

  @media (min-width: bp.$large) {
    width: 80%;
    margin: 12rem 0 20rem auto;
    padding-left: 26rem;
    display: flex;
    align-items: start;

    div {
      max-width: 60rem;
    }
  }

  img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    height: 25rem;
    aspect-ratio: 11/10;
    object-fit: cover;

    @media (min-width: bp.$large) {
      height: 40rem;
      aspect-ratio: 11/10;
      top: 50%;
      left: 0;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

.our-history__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  max-width: none !important;
  height: 100%;
  background-color: rgba($color: colors.$dark-green, $alpha: 0.85);
}

.our-history__info-container {
  position: relative;
  z-index: 10;

  h2 {
    font-family: fonts.$secondary;
    font-size: 4rem;
    text-align: center;
    font-weight: 300;
    color: white;
  }

  h4 {
    font-family: fonts.$primary;
    font-size: 1.8rem;
    text-align: center;
    color: white;
    font-weight: 300;
    margin-top: 4rem;
  }

  @media (min-width: bp.$large) {
    margin-left: 0;
    margin-right: auto;
  }
}

.our-history__info-text {
  position: relative;
  z-index: 10;
  font-family: fonts.$primary;
  font-size: 2.4rem;
  text-align: justify;
  color: white;
  font-weight: 300;
  margin-top: 4rem;
  width: min(90%, 60rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 6rem;
}
