@use '../constants/fonts.scss' as fonts;
@use '../constants/colors.scss' as colors;
@use '../constants/breakpoints.scss' as bp;

.our-labels {
  margin-top: 6rem;

  h2 {
    font-size: 3.5rem;
    font-family: fonts.$secondary;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.our-labels__container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;

  @media (min-width: bp.$large) {
    grid-template-columns: 1fr 1fr;
  }
}

.our-labels__text {
  width: min(90%, 40rem);
  margin: 0 auto;

  p {
    text-align: justify;
    font-family: fonts.$primary;
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  img {
    width: 100%;
    margin: 0 auto;
    object-fit: contain;
    height: 30rem;
  }
}

.carousel-item-wine {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-labels__carousel-container {
  margin-top: 5rem;
  position: relative;
}

.our-labels__slide-container {
  width: min(90%, 80rem);
  margin: 0 auto;
  position: relative;

  @media (min-width: bp.$base) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.our-labels__slide {
  inset: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  transition-delay: 0s;

  h3 {
    font-size: 2rem;
    font-family: fonts.$secondary;
    text-align: center;
    margin-top: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    height: 5rem;
  }
}

.our-labels__slide[data-active-slide] {
  opacity: 1;
  transition-delay: 0.5s;
  position: relative;
  visibility: visible;
}

.our-labels__slide-image-container {
  width: min(90%, 30rem);
  margin: 0 auto;

  img {
    width: 100%;
    margin: 0 auto;
    object-fit: contain;
    height: 30rem;
  }
}

.our-labels__slide-details {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding-top: 2rem;

  span {
    font-family: fonts.$primary;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.our-labels__slide-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
  min-height: 25rem;

  p {
    font-family: fonts.$primary;
    font-size: 1.5rem;
  }
}

.our-labels__carousel-buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 3rem 0 8rem;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
